
.advisory_dash{
    padding: 10px;
    height: 65px;
    background: #4caf5b;
    box-shadow: 0px 3px 8px #165920;
    color: white;
}
.dashboard_logo img{
    width: 20%;
    margin-top: -10px;
    margin-left: 30px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    /* display:inline-flex; */
    display:flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #003a40;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}
#sidebar.active .adv_avtar{
    width: 80%;
}
#sidebar.active .fa_toggle {
    color:#fd9b15;
}
#sidebar.active .tog_icon{
    text-align-last: center;
}
#sidebar.active .txt_menu_hide{
    display: none;
}
#sidebar.active .side_notification{
    display: none;
}
#sidebar.active .side_ans_notification{
    display: none;
}
#sidebar.active .side_pen_notification{
    display: none;
}
#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.3em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #003a40;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.3em;
}

#sidebar ul.components {
    padding: 10px 8px;
}                  

#sidebar ul li a {
    padding: 10px;
    font-size: 12px;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar .tog_icon{
    text-align-last: right;
    padding: 30px;
}
.fa_toggle:hover{
    cursor: pointer;
}
.fa_toggle{
    color:#4caf5b;
    font-size: 20px;
}


/* Style the links inside the navigation bar */
.dashnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-right: 50px;
}
.dashnav-right {
  float: right;
  margin-top: 10px;
}
.ad_email,
.ad_bell{
    background: #003a40;
    font-size: 12px;
    padding: 8px;
    border-radius: 120px;
}
.ad_logout{
    color:#fd9b15;
    font-size: 15px;
}
.nav_notification{
    background:#fd9b15;
    color:white;
    font-size: 10px;
    margin-top: -30px;
}
.adv_avtar{
    width: 50%;
    border-radius: 100px;
    margin-top: -100px;
    margin-bottom: -30px;
}
.welcome_txt{
    font-size: 14px;
    color: #bbcad0;
}
.sidebar-header{
    border-bottom: 1px solid #546e7a;
}
.dash_active{
    background: #11575e;
}
.side_notification{
    background:#4caf5b;
    color: white;
    margin-left: 10px;
}
.fa_home,
.fa_setting,
.fa_answered,
.fa_pending{
    color:#fd9b15;
    font-size: 20px;
}





/* --------------------------

+CSS FOR MEDIA QUERY

+----------------------------- */
/* FOR EXTERA SMALL DEVICE */
@media(max-width: 767px){
  .dashboard_logo img{
      width: 35%;
      margin-left: 10px;
      margin-top: -10px;
  }
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #003a40;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 0px;
    }
 
}

/* FOR SMALL DEVICE */

@media (min-width: 768px) and (max-width: 991px){
#sidebar{
    margin-top:0px;
  }
}


/* FOR MEDIUM SCREEN */

@media (min-width: 992px) and (max-width: 1280px) {
#sidebar{
       margin-top:0px;
   }

 
}    

/* FOR LARGE DEVICE */

@media (min-width: 1200px){

}